
.head1{
    font-size: large;
    font-weight: bold;
}
img{
    margin-top: 10%;
    margin-left: 10%;
    width: 17%;
}
body{
    background: red;
}
.design{
    padding: 1%;
    font-size: 601%;
    padding-left: -3%;
    padding-right: 3%;
    border-radius: 72%;
    background: yellow;
    margin-left: 42%;
    margin-right: -28%;
    margin-top: -19%;
}
.heading{
    text-align: center;
    font-size: -webkit-xxx-large;
}